

.navbar{
    position: absolute;
    top:0;
    width: 100%;
    background-color: black;
}
ul{
    margin: 0;
    padding: 0;

}

body{
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: linear-gradient(39deg,rgba(167,44,82,0,0.9));
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}
.form{
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;

}

.input-container{
    height: 50px;
    position: relative;
    width: 100%;
}
.ic1{
    margin-top: 40px;
}

li{
    float: left;

}

.submit{

    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;


}